
mixin modal-tabs(href, text, active, modal)
	li( class= active ? 'active' : '' )
		a(
			href= href,
			data-modal= modal
		)= text

.modal-holder#search-modal(data-cross="cross-top")
	.modal-content
		//- .grid
			.container
				.line-1
				.line-2
				.line-3
				.line-4
				.line-5
		include ./search-results.jade


.modal-holder#signup-modal(data-cross="cross-top")
	.modal-content
		.container
			ul.modal-tabs(role="tabs")
				+modal-tabs('#', 'login', false, '#login-modal')
				+modal-tabs('#', 'register', true, '#signup-modal')
			.register-section
				form(action="#")
					.input-holder
						label(for="name") Email
						input(type="text" id="name" placeholder="Email")
					.input-holder
						label(for="name") Ваше имя
						input(type="text" id="name" placeholder="Ваше имя")
					.input-holder
						label(for="name") Номер телефона
						input(type="text" id="name" placeholder="Номер телефона")
					.input-holder
						label(for="name") Пароль
						.form-group
							input(type="password" id="name" placeholder="Пароль")
							.show-password-button
								i.fa.fa-eye
					.button-holder
						button.btn(type="submit") зарегистрироваться
			.socials-login-container
				mixin social (network, color)
					button(style= "border-color: #" + color + "; background-color: #" + color)= network
				.section-label-inline
					span Или войдите через:
				.socials-lobin-buttons
					+social(
						'FACEBOOK',
						'a5acef'
					)
					+social(
						'GOOGLE',
						'ff8282'
					)
					+social(
						'VK',
						'8dc1e3'
					)

.modal-holder#login-modal(data-cross="cross-top")
	.modal-content
		.container
			ul.modal-tabs(role="tabs")
				+modal-tabs('#', 'login', true, '#login-modal')
				+modal-tabs('#', 'register', false, '#signup-modal')
			.register-section
				form(action="#")
					.input-holder
						label(for="name") Email/Телефон
						input(type="text" id="name" placeholder="Email")
					.input-holder
						label(for="name") Пароль
						.form-group
							input(type="password" id="name" placeholder="Пароль")
							.show-password-button
								i.fa.fa-eye
					.button-holder
						.button-label
							a(href="#")
								span Забыл
								b  пароль
								span ?
						button.btn(type="submit") войти
			.socials-login-container
				mixin social (network, color)
					button(style= "border-color: #" + color + "; background-color: #" + color)= network
				.section-label-inline
					span Или войдите через:
				.socials-lobin-buttons
					+social(
						'FACEBOOK',
						'a5acef'
					)
					+social(
						'GOOGLE',
						'ff8282'
					)
					+social(
						'VK',
						'8dc1e3'
					)

.profile-messages-modal#profile-messages-modal
	.profile-messages-header
		a(href="#") ПЕРЕЙТИ В ЛИЧНЫЙ КАБИНЕТ
		.profile-icon(href="profile.html" data-tooltip="#profile-messages-modal")
			.badge 22
			.profile-image(style="background-image: url(http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581)")
	.profile-messages-content
		ul.messages-list
			mixin feed-item(src, name, happened, theme)
				li
					.image-container
						a(href="#").image-holder
							img(src= src, alt= theme)
					.feed-description
						a(href="#")
							span= name
							b= happened
							span= theme
			+feed-item (
				'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg',
				'Карина Лобова',
				' прокоментировал(а) статью',
				' «Жизнь бутерброда после кукурузы»'
			)
			+feed-item (
				'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg',
				'Карина Лобова',
				' прокоментировал(а) статью',
				' «Жизнь бутерброда после кукурузы»'
			)
			+feed-item (
				'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg',
				'Карина Лобова',
				' прокоментировал(а) статью',
				' «Жизнь бутерброда после кукурузы»'
			)
	.profile-messages-footer
		a(href="#") ПЕРЕЙТИ КО ВСЕМ УВЕДОМЛЕНИЯМ


//- .modal-holder(data-modal-ununique="true")
	//- .modal-content
		//- .close-modal(data-close)
		//- .modal-container
