doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.hottest
			.section-label
				//- span hottest
				img(src="img/icons/side-labels/hottest.svg", alt="hottest")
			.container
				.tint
				.content-holder
					.title-yellow 21 Марта / 18:00
					h2 Лофт Мастер карате и джиу-танго
					.footer
						.conditions Вход свободный (По регистрации)
						.address
							b Prostir 86 
							span ул. Малевича 86

		section.all-events
			.section-label
				//- span all
				img(src="img/icons/side-labels/all.svg", alt="all")
			.container
				ul.events-list
					mixin event-list(date, name, address, image)
						li.event
							.image-container
								.image-holder
									img(src= image, alt= name)
								.address= address
							.description-container
								.info-holder
									h4= date
									h3= name
					+event-list(
						'21 Марта / 18:00',
						'Жизнь течет, как твой кран кушай кашу, а не трам, твой братюня наркоман, никогда не слушал мам',
						'Prostir 86  ул. Малевича 86',
						'https://unsplash.it/500/500?image=411'
						)
					+event-list(
						'22 Марта / 18:00',
						'Пау-пау, Бау-Бау, И пиф-паф-ПУК',
						'Prostir 86  ул. Малевича 86',
						'https://unsplash.it/500/500?image=410'
						)

		section.old-events
			.section-label
				//- span old
				img(src="img/icons/side-labels/old.svg", alt="old")
			.container
				ul.events-list
					mixin event-list(date, name, address, image)
						li.event
							.description-container
								.info-holder
									.label Отчет:
									h3= name
							.image-container
								.image-holder
									img(src= image, alt= name)
								.address
									p= date
									p.address-icon= address

					+event-list(
						'21 Марта / 18:00',
						'Жизнь течет, как твой кран кушай кашу, а не трам, твой братюня наркоман, никогда не слушал мам',
						'Prostir 86  ул. Малевича 86',
						'https://unsplash.it/500/500?image=411'
						)
					+event-list(
						'22 Марта / 18:00',
						'Пау-пау, Бау-Бау, И пиф-паф-ПУК',
						'Prostir 86  ул. Малевича 86',
						'https://unsplash.it/500/500?image=410'
						)
				.button-holder
					.btn.load-more показать больше

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
