doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.hottest
			.section-label.mobile-center
				span events
				img(src="img/icons/side-labels/hottest.svg", alt="hottest")
			.container
				.tint
				.content-holder
					.title-yellow 21 Марта / 18:00
					h2 Лофт Мастер карате и джиу-танго
					.footer
						.conditions
							b Вход свободный 
							span (По регистрации)
						.address
							b Prostir 86 
							span ул. Малевича 86

		section.all-events
			.section-label
				//- span all
				img(src="img/icons/side-labels/all.svg", alt="all")
			.container
				ul.events-list
					mixin event-list(date, name, address, image, conditions)
						li.event
							.image-container
								.image-holder
									img(src= image, alt= name)
								.address!= address
							.description-container
								.info-holder
									h4!= date
									h3!= name
							.mobile-footer
								.conditions!= conditions
								.address!= address
					+event-list(
						'21 Марта / 18:00',
						'Жизнь течет, как твой кран кушай кашу, а не трам, твой братюня наркоман, никогда не слушал мам',
						'<b>Prostir 86 </b><span>ул. Малевича 86</span>',
						'https://unsplash.it/500/500?image=411',
						'<b>Вход свободный </b><span>(По регистрации)</span>'
						)
					+event-list(
						'22 Марта / 18:00',
						'Пау-пау, Бау-Бау, И пиф-паф-ПУК',
						'<b>Prostir 86 </b><span>ул. Малевича 86</span>',
						'https://unsplash.it/500/500?image=410',
						'<b>Вход свободный </b><span>(По регистрации)</span>'
						)

		section.old-events
			.section-label.mobile-center
				span old
				img(src="img/icons/side-labels/old.svg", alt="old")
			.container
				ul.events-list
					mixin event-list(date, name, address, image, conditions)
						li.event
							.description-container
								.info-holder
									.label Отчет:
									h3!= name
							.image-container
								.image-holder
									img(src= image, alt= name)
								.address
									p!= date
									p.address-icon!= address
							.mobile-footer
								.description!= name
								.conditions!= conditions
								.address!= address

					+event-list(
						'21 Марта / 18:00',
						'Жизнь течет, как твой кран кушай кашу, а не трам, твой братюня наркоман, никогда не слушал мам',
						'<b>Prostir 86 </b><span>ул. Малевича 86</span>',
						'https://unsplash.it/500/500?image=411',
						'<b>Вход свободный </b><span>(По регистрации)</span>'
						)
					+event-list(
						'22 Марта / 18:00',
						'Пау-пау, Бау-Бау, И пиф-паф-ПУК',
						'<b>Prostir 86 </b><span>ул. Малевича 86</span>',
						'https://unsplash.it/500/500?image=410',
						'<b>Вход свободный </b><span>(По регистрации)</span>'
						)
				.button-holder
					.btn.load-more показать больше

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
