doctype html
html(lang='en')
	head
		title MEAT Studies 2

		include ./partials/head.jade

	body
		include ./partials/navigation.jade
			
		section.profile-top
			.profilemenu
				mixin profilemenu(href, text, active)
					li
						a(href= href, class= active ? 'active' : '')= text

				ul
					+profilemenu('#', 'BOOKMARKS')
					+profilemenu('#', 'VIDEO')
					+profilemenu('#', 'COURSE', true)
					+profilemenu('#', 'HOMEWORK')
			.container
				.user-info
					.image-container
						.image-holder
							img(src='img/content/profile-image-1.png')
					.description-container
						.description-heading
							h1 Валентин Дядька
							.type-marker 
								span.marker-text UI+UX
						.contacts-holder
							a(href="mailto:VDyaydke@mail.ru") VDyaydke@mail.ru
							a(href="tel:+38 075 466 24 13") +38 075 466 24 13
						ul.socials
							li
								a(href='#')
									i.fa.fa-instagram
				.edit-btn-holder
					button.type-1 РЕДАКТИРОВАТЬ


		section.feedback-block
			.container
				mixin feed-item(src, name, happened, theme, time)
					li 
						.image-container
							.image-holder
								img(src= src, alt="")
						.feed-description
							p
								span= name
								b= happened
								span= theme
							p
								span.time= time
				ul.feed-list
					+feed-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300',
						'Карина Лобова',
						'прокоментировала статью',
						'«Жизнь бутерброда после кукурузы»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300',
						'Карина Лобова',
						'загрузил(а) домашнее задание в',
						'«Курс UI: Лекция 1: Мистер квалификация хлеба»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300',
						'Жираф Полужам',
						'прокоментировал(а) видео',
						'«Какие были времена»',
						'12 января 14:00'
					)  
					+feed-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581',
						'Карина Лобова',
						'прокоментировала статью',
						'«Жизнь бутерброда после кукурузы»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_lavander_hair_couleur_cheveux-_rose_colorful-_pastel_hairs21.jpg?w=545',
						'Карина Лобова',
						'прокоментировала статью',
						'«Жизнь бутерброда после кукурузы»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581',
						'Карина Лобова',
						'прокоментировала статью',
						'«Жизнь бутерброда после кукурузы»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300',
						'Карина Лобова',
						'загрузил(а) домашнее задание в',
						'«Курс UI: Лекция 1: Мистер квалификация хлеба»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300',
						'Жираф Полужам',
						'прокоментировала видео',
						'«Какие были времена»',
						'12 января 14:00'
					)
					+feed-item(
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300',
						'Карина Лобова',
						'прокоментировала статью',
						'«Жизнь бутерброда после кукурузы»',
						'12 января 14:00'
					)
				.show-more-holder
					button(class='type-1') Показать больше

		include ./partials/footer.jade
	include ./partials/scripts.jade
