doctype html
html(lang='en')
	head
		title MEAT ˢᵗᵘᵈⁱᵉˢ 2

		include ./partials/head.jade

	body

		include ./partials/navigation.jade

		section.video-player
			.container
				.mobile-label
					h1 Front End для дизайнера
				.video-container
					video.video-js.vjs-default-skin(
							preload="auto",
							poster="http://wayup.in/assets/images/post/pietroschirano_header.jpg",
							data-setup='{}',
							controls
						)
						source(
							src="http://vjs.zencdn.net/v/oceans.mp4",
							type="video/mp4"
						)
						source(
							src="http://vjs.zencdn.net/v/oceans.webm",
							type="video/webm"
						)
						p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that
							a(href="http://videojs.com/html5-video-support/", target="_blank")  supports HTML5 video
				.sidebar-container
					.playlist-holder

						mixin video-item(image, description, state)
							li.video(class= state ? state : '')
								a(href="#")
									.image-container
										.image-holder
											img.fake-img(src= image, alt= description)
											.img(style="background-image: url(" + image + ")")
									.description-container
										p= description

						ol.playlist
							+video-item(
								'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg',
								'Intro'
							)
							+video-item(
								'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg',
								'Menu ui/ux animation with principle',
								'active'
							)
							+video-item(
								'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-3.jpg',
								'Введение в графические редакторы и практический урок',
								'disabled'
							)
							+video-item(
								'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-3-1.jpg',
								'Дизайн как искуственный интелект поробащенния мира',
								'disabled'
							)
							+video-item(
								'http://i1.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_lavander_hair_couleur_cheveux-_rose_colorful-_pastel_hairs21.jpg?w=545',
								'Дизайн как искуственный интелект поробащенния мира',
								'disabled'
							)
							+video-item(
								'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581',
								'Введение в графические редакторы и практический урок',
								'disabled'
							)
							+video-item(
								'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300',
								'Animation with principle',
								'disabled'
							)


		section.buy-video-section
			.container
				.header
					h1 Курс UI+UX: Intro
				.user-info
					.user-image
						.image-holder
							img.fake-img(src="http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300", alt = 'user')
							.img(style="background-image: url( http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300)")
					.name-holder
						.name Жаворонок Казимир
						.name-label Преподователь. Senior UI/UX MAKAREVICH
						ul.socials-holder
							li
								a(href="#")
									i.fa.fa-vk
							li
								a(href="#")
									i.fa.fa-facebook
							li
								a(href="#")
									i.fa.fa-instagram
				.description
					p Ура, дизайнеры сайтов на коне. Мир стал цифровым, молекулы превратились в 0 и 1. Теперь всем нужны не пластинки Элвиса Пресли, а качественные сайты для развития бизнеса.Войти в профессию несложно, если у вас достаточно энергии и упорства
					.see-all
						a(href="courses.html")
							span читать отзывы
				.button-holder
					.price 3000 грн
					a.btn(href="#") получить курс

		section.student-work-section
			.container
				.user-info
					.user-image
						.image-holder
							img.fake-img(src="http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300", alt = 'user')
							.img(style="background-image: url( http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300)")
					.type-marker
						.marker-text test
					.name-holder
						.name Мать Берёза
						.name-label (Это вы)
				.description
					.student-work
						img(src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg", alt="portfolio")
					p The point is that good design is a combination of the idea, and the implementation. They have to work together. There are many things that look good on paper, but are either very hard or impossible to implement in the real world, across a range  of devices, in a reasonably cost-effective way.
					p iOS has limitations. We play within Apple's sandbox, and some of their UI patterns and controls are very limited indeed.﻿
				.button-holder
					a.btn(href="#") редактировать
					p.label Редактирование доступно 5 часов после загрузки

		section.student-work-teacher
			.container
				.user-info
					.user-image
						.image-holder
							img.fake-img(src="http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300", alt = 'user')
							.img(style="background-image: url( http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs3.jpg?resize=224%2C300)")
					.type-marker
						.marker-text test
					.name-holder
						.name Мать Берёза
						.name-label (Это вы)
				.description
					.student-work
						img(src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-1.jpg", alt="portfolio")
					p The point is that good design is a combination of the idea, and the implementation. They have to work together. There are many things that look good on paper, but are either very hard or impossible to implement in the real world, across a range  of devices, in a reasonably cost-effective way.
					p iOS has limitations. We play within Apple's sandbox, and some of their UI patterns and controls are very limited indeed.﻿
				.button-holder
					a.btn(href="#") редактировать
					p.label Редактирование доступно 5 часов после загрузки


		mixin work-case(name, image, description, autor)
			li.work
				a(href="#")
					.image-container
						.image-holder
							img.fake-img(src= image, alt= name)
							.img(style= 'background-image:url(' + image + ')')
					.description-container
						h3= name
						p
							b= description
						hr
						p= autor

		section.works
			.section-label
				img(src="img/icons/side-labels/student-works.svg", alt="student-works")
			.container
				ul.work-case-holder
					+work-case(
						'The Divan',
						'http://ramilrama.com/img/portfolio/portfolio-bg-360-1.png',
						'App/Web',
						'Васильковская А.'
					)
					+work-case(
						'Moldovia Watches (Beta)',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg',
						'UI+UX/Product design',
						'Мижнародна К.'
					)
					+work-case(
						'Mac Beth',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6.jpg',
						'App/Web',
						'Мукачево А,'
					)

		section.works.works-slider
			.section-label
				img(src="img/icons/side-labels/student-works.svg", alt="student-works")
			.container
				h3.label
					span student works
				ul.work-case-holder
					+work-case(
						'The Divan',
						'http://ramilrama.com/img/portfolio/portfolio-bg-360-1.png',
						'App/Web',
						'Васильковская А.'
					)
					+work-case(
						'Moldovia Watches (Beta)',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6-1.jpg',
						'UI+UX/Product design',
						'Мижнародна К.'
					)
					+work-case(
						'Mac Beth',
						'http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2013/05/Mobile-Apps-UIUX-Design-6.jpg',
						'App/Web',
						'Мукачево А,'
					)

		section.response-section
			mixin response(name, date, image, description)
				li.response
					.head-container
						.image-holder
							img.fake-img(src= image, alt= name)
							.img(style= 'background-image:url(' + image + ')')
						.info-holder
							h3= name
							.date= date
					.description-container
						p= description
			.section-label
				span response
				img(src="img/icons/side-labels/response.svg", alt="response")
			.container
				ul.response-holder
					+response(
						'Тройноепроникновение Татьяна',
						'13 марта 2007',
						'http://i2.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs11.jpg?resize=200%2C300',
						'Прошел курс, остался очень довлен, он помог мне найти работу моей мечты! Сейчас записался в школу, думаю это поможет мне в работе и жизни! Курс отличный, огромное спасибо!'
					)
					+response(
						'Дылданедилдо Мария',
						'13 марта 2007',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs14.jpg?resize=198%2C300',
						'Прошел курс, остался очень довлен, он помог мне найти работу моей мечты! Сейчас записался в школу, думаю это поможет мне в работе и жизни! Курс отличный, огромное спасибо!'
					)
					+response(
						'Тройноепроникновение Татьяна',
						'13 марта 2007',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_hair_couleur_cheveux-_rose_colorful-_pastel_hairs-12.jpg?w=646',
						'Прошел курс, остался очень довлен, он помог мне найти работу моей мечты! Сейчас записался в школу, думаю это поможет мне в работе и жизни! Курс отличный, огромное спасибо!'
					)
					+response(
						'Дылданедилдо Мария',
						'13 марта 2007',
						'http://i0.wp.com/blog.happy-chantilly.com/wp-content/uploads/2014/10/pink_blue_hair_couleur_cheveux-_rose_bleu_colorful-_pastel_hairs20.jpg?w=581',
						'Прошел курс, остался очень довлен, он помог мне найти работу моей мечты! Сейчас записался в школу, думаю это поможет мне в работе и жизни! Курс отличный, огромное спасибо!'
					)

				.button-holder
					a.btn(href="#") показать больше

		section.faq-section
			mixin faq(name, description)
				li.faq
					h3= name
					p= description
			.section-label
				span questions
				img(src="img/icons/side-labels/questions.svg", alt="questions")
			.container
				ul.faq-holder
					+faq(
						'Останеться ли у меня доступ к курсу, после его завершения?',
						'После завершения курса, вы получаете фидбэк по курсовой работе, и доступ закрывается.'
					)
					+faq(
						'Получу ли я какое-то сведенье о прохождении курса?',
						'Да! После окончания курса, вы получаете электронный сертефикат, об их окончании. '
					)
					+faq(
						'Есть ли жизнь на марсе? И как она выглядит?',
						'Определенно ЕСТЬ! Выглядит она лучше чем вы!'
					)
					+faq(
						'Через какую реку ехал грека, в которой его еще рак за руку цапнул?',
						'Ехал Грека, через реку, видет грека в реке рак, сунул Грека руку в реку, рак за руку Греку СХВАТИЛ ОТПИЗДИЛ УТОПИЛ СЪЕЛ УБИЛ ИЗНАСИЛОВАЛ НАШЕЛ ВСЮ СЕМЬЮ ЗАРЕЗАЛ ИХ ВСЕХ И УТОЛПИЛ в реке Малютка'
					)

		section.addition-question-section
			.container
				.description
					h2 Остались какие-то вопросы? <br /> Смело спрашивай!
				form.content-holder(action="#")
					.input-holder
						input(type="text" id="name" placeholder="Email")
					.input-holder
						textarea(type="text" id="name" placeholder="Вопрос или предложение")
					.button-holder
						button.btn(type="submit") узнать

		section.teacher-answer-section
			.container
				.no-answer-yet

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
